/*********** GENERAL ***********/

body {
    font-family: Corbel, Arial, sans-serif;
    margin:0;
}

a {
    color:#000000;
    text-decoration:none;
}

/*********** HEADER ***********/

#header {
    background-color: #6ab47b;
}
h1 {
    font-size: 36px;
    margin: 0px;
    text-align: center;
    padding: 15px 0 0 0;
    color: #FFFFFF;
}
h2{
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

#nav{
    background-color: #599a68;
    text-align: center;
    list-style-type: none;
}
#nav li{
    display: inline-block;
    padding: 6px 8px;
}
#nav li a{
    color: #FFFFFF;
}
#nav li:hover{
    background-color: #6ab47b;
}

/*********** CONTENT ***********/

#content{
    width: 600px;
    margin: 30px auto;
}

#content h4{
    border-bottom: #599a68 solid 3px;
    padding-bottom: 6px;
}